.all-contacts {
  overflow: scroll;
  padding-top: 15vh;
  height: 80vh;
}

@media screen and (min-width: 40rem) {
  .all-contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    align-content: start;
    justify-content: center;
    margin: 2em auto;
    gap: 1rem;
  }
}
