.single-contact {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  border-left: 0px;
  border-right: 0px;
  padding: 0.5em 0em;

  &__delete {
    @extend .header__add;
    color: $primary-red;
    font-size: $font-size-small;
  }

  .contact {
    &__name {
      font-size: calc($font-size-medium - 0.3rem);
      font-weight: bold;
      color: $neutral-black;
    }
    &__number {
      font-size: calc($font-size-small + 0.2rem);
      font-weight: bold;
      color: $neutral-grey;
    }
  }
}

.single-contact:hover {
background-color: #e6e6e6;
cursor: pointer;
}
