// Fonts
$font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font-Sizing
$font-size-big: 1.875rem;
$font-size-medium: 1.67rem;
$font-size-small: 0.875rem;

// Colors
$primary-blue: #0057ff;
$primary-red: #ff0000;
$primary-green: #00ff00;

$neutral-black: #111;
$neutral-grey: #c4c4c4;
